:root {
    --bg-main: hsl(216, 28%, 7%);
    --bg-alt: hsl(215, 21%, 11%);
    --border-main: hsl(215, 15%, 15%);
    --title: hsl(178 100% 41%);
    --title-alt: hsl(218 21% 49%);
    --main-font-color: hsl(0 0% 100%);
    --indicator: hsl(324 79% 60%);
    --error: hsl(0 57% 41%);
    --btn: hsl(137 57% 41%);
    --btn-alt: hsl(218 21% 49%);
    --main-roundness: 10px;
    --big-roundness: 20px;
    --small-roundness: 5px;
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --console-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --main-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.6rem;
    --s-font-size: 0.7rem;
    --big-font-size: 1.5rem;
    --bigger-font-size: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: var(--main-font);
}