:root {
    --link-color: hsl(212 100% 67%);
    --btn-off: hsl(132 59% 33%);
    --btn-on: hsl(132 59% 39%);
    --btn-border: var(--btn-on);
    --spinner: hsl(132 59% 50%);
    --error: hsl(0 57% 41%);
}

body {
    background-color: var(--bg-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    width: 95%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-alt);
    border-radius: var(--small-roundness);
    padding: 20px;
    border: 1px solid var(--border-main);
}

h1 {
    color: var(--title);
    padding: 15px 0;
    font-size: var(--bigger-font-size);
    font-weight: lighter;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 20px;
}

form input {
    border-radius: var(--small-roundness);
    padding: 5px 20px;
    width: 100%;
    min-width: 0 !important;
    background-color: var(--bg-main);
    color: white;
    border: 1px solid var(--border-main);
    font-size: 15px;
}

form input:focus {
    box-shadow: 0px 0px 2px 2px var(--link-color);
}

form label {
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: lighter;
    width: 100%;
}

form button.submit {
    background-color: var(--btn-off);
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid var(--btn-border);
    border-radius: var(--small-roundness);
    color: var(--main-font-color);
    font-size: var(--small-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

form button.submit:hover {
    background-color: var(--btn-on);
}

.registro {
    width: 95%;
    max-width: 320px;
    margin-top: 15px;
    border-radius: var(--small-roundness);
    padding: 15px 0;
    color: var(--main-font-color);
    border: solid 1px var(--border-main);
    text-align: center;
}

.registro a {
    text-decoration: none;
    color: var(--link-color);
}

.registro a:hover {
    text-decoration: underline;
}

img {
    width: 150px;
    /* background-color: var(--title-alt); */
    margin-bottom: 30px;
}

.error {
    background-color: var(--bg-alt);
    color: var(--error);
    background-color: var(--bg-alt);
    padding: 20px 40px;
    border-radius: var(--small-roundness);
    border: 1px solid var(--error);
    font-size: var(--main-font-size);
    max-width: 250px;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.spinner {
    width: 22px;
    height: 22px;
    border: 5px solid transparent;
    border-top-color: var(--spinner);
    animation: spin 0.75s linear infinite;
    border-radius: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}