body {
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    gap: 5px;
}

iframe {
    width: 90%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

button {
    background-color: hsl(215 68% 57%);
    font-size: 2rem;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button::before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 0 20px 0 0;
    background-image: url(../assets/img/icons/download.png);
}