:root {
    /* --file-bg: 0 0% 100%; */
    --file-bg: var(--bg-alt);
    --file-bg-alt: 0 0% 88%;
    --file-bg-blue: hsl(222 58% 17%);
    /* --file-bg-blue: 218 92% 95%; */
    --file-bg-blue-alt: 215 68% 57%;
    --file-bg-blue-alt2: 215 68% 63%;
    /* --file-border: 0 0% 70%; */
    --file-border: var(--border-main);
    --file-selected-border: 215 68% 53%;
    --upload-bg: 215 68% 57%;
    --upload-bg-alt: 218 92% 65%;
    --main-shadow: 0 0 15px 0 hsl(0 0% 0% / 25%);
    --blue-shadow: 0 0 15px 0 hsl(215 68% 53% / 60%);
    --main-roundness: 10px;
    --alt-roundness: 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    color: var(--main-font-color);
    overflow-x: hidden;
}


.path {
    flex-wrap: wrap;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: var(--main-font-size);
    gap: 20px;
    min-height: 40px;
    border-bottom: 1px solid var(--border-main);
}

.path ion-icon {
    font-size: var(--bigger-font-size);
    cursor: pointer;
    border-radius: 100%;
}

.path ion-icon:hover {
    background-color: hsl(215, 21%, 20%);
}

.path ion-icon:active {
    background-color: hsl(215, 21%, 25%);
    outline: 1px solid hsl(215, 21%, 40%);
}


.files>.loading {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    z-index: 2;
}

.files>.loading::after {
    content: '';
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    transform: translateX(-100%);
    background-color: hsl(var(--file-selected-border));
    animation: loading 1s ease-in-out infinite;
    transform-origin: right;
}

@keyframes loading {
    0% {
        left: 0;
        transform: translateX(-100%) scaleX(0.1);
    }

    50% {
        transform: translateX(0) scaleX(1.5);
    }

    100% {
        left: 100%;
        transform: translateX(0) scaleX(0.1);
    }
}

.folders {
    border-bottom: 1px solid var(--border-main);
}


.files,
.folders {
    display: flex;
    padding: 15px;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
}

.file,
.folder {
    overflow: hidden;
    background-color: var(--file-bg);
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    max-width: 250px;
    border-radius: var(--main-roundness);
    border: 2px solid var(--file-border);
    animation: popup 0.2s ease;
    box-shadow: var(--main-shadow);
    transform-origin: center;
    transition: all 0.2s ease !important;
    position: relative;
}

.folder.drag {
    background-color: var(--file-bg-blue);
    border: 1px solid hsl(var(--file-selected-border));
    box-shadow: var(--blue-shadow);
    z-index: 1;
}

.folder {
    height: unset;
    font-size: 1.2rem;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}


.folder::before {
    content: '';
    background-image: url(../assets/img/icons/folder.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.folder:hover {
    background-color: var(--file-bg-blue);
}

.file:hover,
.folder:hover {
    border: 1px solid hsl(var(--file-selected-border));
    box-shadow: var(--blue-shadow);
    transform: scale(1.06) !important;
    z-index: 1;
}

.file:hover .file__name {
    border-top-color: hsl(var(--file-selected-border));
    background-color: var(--file-bg-blue);
}

.file .file__img {
    flex: 70%;
    width: 100%;
    background-image: url(../assets/img/types/file.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    user-select: none;
    pointer-events: none;
    position: relative;
}

.file .file__img.rendered {
    background-size: cover;
    background-image: none;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.file .file__name {
    background-color: var(--file-bg);
}

.file:hover .file__img.rendered {
    transform: scale(1.25);
}

.file .file__img.rendered::after {
    /* content: ''; */
    /* position: absolute; */
    /* background-color: hsl(215 21% 15%); */
    /* inset: 0; */
    /* background: linear-gradient(to right, var(--bg-alt) 0%, hsl(216, 8%, 20%) 25%, var(--bg-alt) 50%, var(--bg-alt) 100%); */
    /* background-repeat: no-repeat; */
    /* background-size: 275px 400px; */
    /* animation: skeleton 1s linear infinite; */
}

.file .file__img.rendered.loaded::after {
    /* display: none; */
}

@keyframes skeleton {
    0% {
        background-position: -275px 0;
    }

    100% {
        background-position: 275px 0;
    }
}

.file .file__name {
    flex: 30%;
    font-size: 1.2rem;
    width: 100%;
    border-top: 1px solid var(--file-border);
    padding: 5px 10px;
    position: relative;
    display: flex;
    transition: all 0.2s ease;
    align-items: center;
}

.file .file__name>span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.file .file__img.rendered>video,
.file .file__img.rendered>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.file .file__img.rendered.loaded ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0.75;
}

.tooltip {
    position: fixed;
    border: 1px solid hsl(var(--file-selected-border));
    background-color: var(--file-bg);
    padding: 1px 5px;
    border-radius: var(--main-roundness);
    word-break: normal !important;
}

.tooltip,
.context-menu {
    z-index: 2;
}

.context-menu {
    position: fixed;
    border: 1px solid hsl(var(--file-selected-border));
    background-color: var(--file-bg);
    border-radius: var(--main-roundness);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    animation: menu 0.2s ease-out forwards;
    transform-origin: top left;
    box-shadow: var(--blue-shadow);
}



.context-menu>div {
    animation: op 0.4s ease forwards;
    opacity: 0;
}

.context-menu>div:nth-child(1) {
    animation-delay: 50ms;
}

.context-menu>div:nth-child(2) {
    animation-delay: 80ms;
}

.context-menu>div:nth-child(3) {
    animation-delay: 110ms;
}

.context-menu>div:nth-child(4) {
    animation-delay: 140ms;
}

.context-menu>div:nth-child(5) {
    animation-delay: 170ms;
}

.context-menu>div:nth-child(6) {
    animation-delay: 200ms;
}

.context-menu>div:nth-child(7) {
    animation-delay: 230ms;
}

@keyframes op {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes menu {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes popup {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

.context-menu>* {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.context-menu>*:hover {
    background-color: var(--file-bg-blue);
}

.context-menu>*::before {
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.context-menu>.context-menu__download::before {
    background-image: url(../assets/img/icons/download.svg);
}

.context-menu>.context-menu__delete::before {
    background-image: url(../assets/img/icons/trash.svg);
}

.context-menu>.context-menu__info::before {
    background-image: url(../assets/img/icons/info.svg);
}

.context-menu>.context-menu__visualize::before {
    background-image: url(../assets/img/icons/eye.svg);
}

.context-menu>.context-menu__link::before {
    background-image: url(../assets/img/icons/link.svg);
}

.context-menu>.context-menu__category::before {
    background-image: url(../assets/img/icons/category.svg);
}

.context-menu>.context-menu__rename::before {
    background-image: url(../assets/img/icons/rename.svg);
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: hsl(0 0% 0% / 35%);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 0.5s ease forwards;
    z-index: 100;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.text.visualize {
    width: 80vw;
    height: 80vh;
    max-width: 1920px;
    max-height: 1080px;
    background-color: #fff;
    color: black;
    padding: 10px;
}

iframe.visualize {
    user-select: none;
    /* pointer-events: none; */
    width: 80vw;
    height: 80vh;
    max-width: 1920px;
    max-height: 1080px;
    background-color: #fff;
}

video.visualize {
    height: 80vmin;
    width: 80vmin;
    object-fit: contain;
    max-width: 1000px;
    max-height: 1000px;
}

.visualize {
    box-shadow: var(--main-shadow);
}

.image.visualize {
    user-select: none;
    opacity: 0;
    animation: opacity 0.2s ease forwards;
    position: relative;
    cursor: zoom-in;
}

.visualize img {
    object-fit: contain;
}

.visualize.empty {
    background-color: var(--bg-alt);
    border-radius: var(--main-roundness);
    padding: 50px;
    font-size: 1.5rem;
}

footer {
    text-align: justify;
    margin-top: auto;
    padding: 20px;
    font-size: var(--s-font-size);
    border-top: 1px solid var(--border-main);
}

footer a {
    color: hsl(var(--file-selected-border));
}




.error ion-icon {
    font-size: 40px;
    color: red;
}

.uploading,
.error,
.downloading,
.success {
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-color: var(--bg-alt);
    padding: 20px 40px;
    border-radius: var(--main-roundness);
    box-shadow: var(--main-shadow);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: top 0.1s ease;
    border: 1px solid hsl(var(--file-selected-border));
    z-index: 2;
}

.error {
    border: 1px solid hsl(0 100% 50%);
    color: hsl(0 100% 50%);
}

.success {
    border: 1px solid hsl(100 100% 50%);
    color: hsl(100 100% 50%);
}

.success ion-icon {
    font-size: 35px;
}

.uploading,
.downloading {
    top: -100%;
}

.uploading.show,
.downloading.show {
    top: 50px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid transparent;
    border-top-color: hsl(var(--file-selected-border));
    border-radius: 100%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lens {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 1000;
    border: 2px solid black;
}