:root {
    --bg-main: hsl(221 78% 7%);
    --bg-alt: hsl(222 58% 11%);
    --border-main: hsl(224 26% 17%);
    --title: hsl(178 100% 41%);
    --title-alt: hsl(218 21% 49%);
    --main-font-color: hsl(0 0% 100%);
    --indicator: hsl(324 79% 60%);
    --error: hsl(0 57% 41%);
    --btn: hsl(137 57% 41%);
    --btn-alt: hsl(218 21% 49%);
    --main-roundness: 10px;
    --big-roundness: 20px;
    --small-roundness: 5px;
    --main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --console-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --main-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.6rem;
    --big-font-size: 1.5rem;
    --bigger-font-size: 1.8rem;
}

.hidden {
    display: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-main);
    line-height: 1.5;
    font-size: var(--main-font-size);
}

header {
    width: 100%;
    padding: 30px 20px;
    max-width: 1200px;
    display: flex;
    color: var(--main-font-color);
    font-size: var(--main-font-size);
    align-items: center;
}

header>a.login {
    margin-left: auto;
    text-decoration: none;
    color: var(--main-font-color);
    font-size: inherit;
}

header>a:hover {
    text-decoration: underline;
}

header img {
    width: 100px;
}

span.welcome {
    word-break: break-word;
}

span.welcome::after {
    content: '|';
    animation: blink 0.7s infinite ease;
    color: var(--main-font-color);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.register {
    background-color: var(--bg-alt);
    padding: 20px 40px;
    border-radius: var(--small-roundness);
    border: 1px solid var(--border-main);
    color: var(--title-alt);
    font-size: var(--small-font-size);
    width: 95%;
    max-width: 600px;
}

div.register * {
    font-family: var(--console-font) !important;
}

div.inputs {
    display: flex;
    width: 100%;
    gap: 10px;
    font-size: var(--big-font-size);
    align-items: center;
}

div.inputs>* {
    font-size: var(--small-font-size);
}

div.inputs::before {
    content: '→';
    color: var(--indicator);
    font-weight: 600;
}

div.inputs.correct::before {
    content: '✓';
    color: var(--btn);
}

div.inputs input {
    flex: 1;
    background-color: transparent;
    color: var(--main-font-color);
    min-width: 10px !important;
    color: var(--main-font-color);
}

div.inputs button {
    color: var(--btn-alt);
    background-color: transparent;
    border: 1px solid var(--btn-alt);
    border-radius: var(--small-roundness);
    padding: 5px 10px;
    cursor: pointer;
}

div.inputs.correct button {
    color: var(--btn);
    border: 1px solid var(--btn);
}

p.title {
    color: var(--title);
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form>button {
    background-color: transparent;
    color: var(--btn);
    background-color: transparent;
    border: 1px solid var(--btn);
    border-radius: var(--small-roundness);
    padding: 5px 10px;
    cursor: pointer;
    font-size: var(--main-font-size);
    min-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 5px solid transparent;
    border-top-color: var(--btn);
    animation: spin 0.75s linear infinite;
    border-radius: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    background-color: var(--bg-alt);
    color: var(--error);
    background-color: var(--bg-alt);
    padding: 20px 40px;
    border-radius: var(--small-roundness);
    border: 1px solid var(--error);
    font-size: var(--main-font-size);
    max-width: 250px;
    width: 100%;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

div.register>a {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: inherit;
}

div.register>a:hover {
    text-decoration: underline;
}

.g-recaptcha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: -1;
}

img.glow {
    position: fixed;
    width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -2;
}